.{
    -o-background-size:cover;
    background-size: cover;
}

body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: justify;
    margin: 20px auto 0 auto;
}

button{
    height: 50px;
    width: 140px;
    border: solid;
    border-color: black;
    background-color: rgb(224, 222, 182);
    font-size: 18px;
    font-weight: 700;
    font-family: inherit
}

table{
    border-spacing: 50px 50px;
    margin-left: auto;
    margin-right: auto;
}

.main{
    padding-bottom: 150px;
}

.author{
    padding:10px 10px 10px 10px;
}

.author img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
    border: solid;
}

.author_text{
    float: left;
    margin-top: 40px;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 600;
}

#icon img{
    height: 50px;
    width: 50px;
    margin-top: 20px;
    float: right;
}



.btn_tb {
    margin-top: 75px;
}
